/* HTML: <div class="loader"></div> */
.loader {
  --w:10ch;
  font-weight: bold;
  font-family: monospace;
  font-size: 13px;
  letter-spacing: var(--w);
  width: var(--w);
  overflow: hidden;
  white-space: nowrap;
  color: rgb(125, 125, 125);
  animation: l33 1s infinite alternate;
}

@keyframes l33{
  0%,15%,75%,100% {
   text-shadow: 
        calc( 0*var(--w)) 0 #9b9999,calc(-1*var(--w)) 0 #9b9999,calc(-2*var(--w)) 0 #9b9999,calc(-3*var(--w)) 0 #9b9999,calc(-4*var(--w)) 0 #9b9999, 
        calc(-5*var(--w)) 0 #9b9999,calc(-6*var(--w)) 0 #9b9999,calc(-7*var(--w)) 0 #9b9999,calc(-8*var(--w)) 0 #9b9999,calc(-9*var(--w)) 0 #9b9999;
  }
  20% {
   text-shadow: 
        calc( 0*var(--w)) 0 #9b9999,calc(-1*var(--w)) 0 #9b9999,calc(-2*var(--w)) 0 #9b9999,calc(-3*var(--w)) 0 9px #9b9999,calc(-4*var(--w)) 0 #9b9999, 
        calc(-5*var(--w)) 0 #9b9999,calc(-6*var(--w)) 0 #9b9999,calc(-7*var(--w)) 0 #9b9999,calc(-8*var(--w)) 0 #9b9999,calc(-9*var(--w)) 0 #9b9999;
  }
  25% {
   text-shadow: 
        calc( 0*var(--w)) 0 #9b9999,calc(-1*var(--w)) 0 #9b9999,calc(-2*var(--w)) 0 #9b9999,calc(-3*var(--w)) 0 #9b9999,calc(-4*var(--w)) 0 #9b9999, 
        calc(-5*var(--w)) 0 #9b9999,calc(-6*var(--w)) 0 #9b9999,calc(-7*var(--w)) 0 7px #9b9999,calc(-8*var(--w)) 0 #9b9999,calc(-9*var(--w)) 0 #9b9999;
  }
  30% {
   text-shadow: 
        calc( 0*var(--w)) 0 #9b9999,calc(-1*var(--w)) 0 #9b9999,calc(-2*var(--w)) 0 #9b9999,calc(-3*var(--w)) 0 #9b9999,calc(-4*var(--w)) 0 #9b9999, 
        calc(-5*var(--w)) 0 9px #9b9999,calc(-6*var(--w)) 0 #9b9999,calc(-7*var(--w)) 0 #9b9999,calc(-8*var(--w)) 0 #9b9999,calc(-9*var(--w)) 0 #9b9999;
  }
  35% {
   text-shadow: 
        calc( 0*var(--w)) 0 #9b9999,calc(-1*var(--w)) 0 #9b9999,calc(-2*var(--w)) 0 #9b9999,calc(-3*var(--w)) 0 #9b9999,calc(-4*var(--w)) 0 #9b9999, 
        calc(-5*var(--w)) 0 #9b9999,calc(-6*var(--w)) 0 #9b9999,calc(-7*var(--w)) 0 #9b9999,calc(-8*var(--w)) 0 #9b9999,calc(-9*var(--w)) 0 7px #9b9999;
  }
  40% {
   text-shadow: 
        calc( 0*var(--w)) 0 5px #9b9999,calc(-1*var(--w)) 0 #9b9999,calc(-2*var(--w)) 0 #9b9999,calc(-3*var(--w)) 0 #9b9999,calc(-4*var(--w)) 0 #9b9999, 
        calc(-5*var(--w)) 0 #9b9999,calc(-6*var(--w)) 0 #9b9999,calc(-7*var(--w)) 0 #9b9999,calc(-8*var(--w)) 0 #9b9999,calc(-9*var(--w)) 0 #9b9999;
  }
  45% {
   text-shadow: 
        calc( 0*var(--w)) 0 #9b9999,calc(-1*var(--w)) 0 #9b9999,calc(-2*var(--w)) 0 #9b9999,calc(-3*var(--w)) 0 #9b9999,calc(-4*var(--w)) 0 #9b9999, 
        calc(-5*var(--w)) 0 7px #9b9999,calc(-6*var(--w)) 0 #9b9999,calc(-7*var(--w)) 0 #9b9999,calc(-8*var(--w)) 0 #9b9999,calc(-9*var(--w)) 0 #9b9999;
  }
  50% {
   text-shadow: 
        calc( 0*var(--w)) 0 #9b9999,calc(-1*var(--w)) 0 #9b9999,calc(-2*var(--w)) 0 #9b9999,calc(-3*var(--w)) 0 #9b9999,calc(-4*var(--w)) 0 5px #9b9999, 
        calc(-5*var(--w)) 0 #9b9999,calc(-6*var(--w)) 0 #9b9999,calc(-7*var(--w)) 0 #9b9999,calc(-8*var(--w)) 0 #9b9999,calc(-9*var(--w)) 0 #9b9999;
  }
  55% {
   text-shadow: 
        calc( 0*var(--w)) 0 #9b9999,calc(-1*var(--w)) 0 #9b9999,calc(-2*var(--w)) 0 #9b9999,calc(-3*var(--w)) 0 #9b9999,calc(-4*var(--w)) 0 #9b9999, 
        calc(-5*var(--w)) 0 #9b9999,calc(-6*var(--w)) 0 8px #9b9999,calc(-7*var(--w)) 0 #9b9999,calc(-8*var(--w)) 0 #9b9999,calc(-9*var(--w)) 0 #9b9999;
  }
  60% {
   text-shadow: 
        calc( 0*var(--w)) 0 #9b9999,calc(-1*var(--w)) 0 #9b9999,calc(-2*var(--w)) 0 #9b9999,calc(-3*var(--w)) 0 #9b9999,calc(-4*var(--w)) 0 #9b9999, 
        calc(-5*var(--w)) 0 #9b9999,calc(-6*var(--w)) 0 #9b9999,calc(-7*var(--w)) 0 #9b9999,calc(-8*var(--w)) 0 5px #9b9999,calc(-9*var(--w)) 0 #9b9999;
  }
  65% {
   text-shadow: 
        calc( 0*var(--w)) 0 #9b9999,calc(-1*var(--w)) 0 7px #9b9999,calc(-2*var(--w)) 0 #9b9999,calc(-3*var(--w)) 0 #9b9999,calc(-4*var(--w)) 0 #9b9999, 
        calc(-5*var(--w)) 0 #9b9999,calc(-6*var(--w)) 0 #9b9999,calc(-7*var(--w)) 0 #9b9999,calc(-8*var(--w)) 0 #9b9999,calc(-9*var(--w)) 0 #9b9999;
  }
  70% {
   text-shadow: 
        calc( 0*var(--w)) 0 #9b9999,calc(-1*var(--w)) 0 #9b9999,calc(-2*var(--w)) 0 9px #9b9999,calc(-3*var(--w)) 0 #9b9999,calc(-4*var(--w)) 0 #9b9999, 
        calc(-5*var(--w)) 0 #9b9999,calc(-6*var(--w)) 0 #9b9999,calc(-7*var(--w)) 0 #9b9999,calc(-8*var(--w)) 0 #9b9999,calc(-9*var(--w)) 0 #9b9999;
  }
}